/* 
    Document   : default
    Created on : 25.08.2012, 23:15:15
    Author     : Sunmedia
    Description:
        Purpose of the stylesheet follows.
*/

body,#header,#top{
    margin: 0;
    padding: 0;
}

body{
    
}

#top{
    height:35px;
    background:#252525;
    border-bottom:1px #cccccc solid;
}

#SignOn{
    width:200px;
    margin: 250px auto; 
    font-family:verdana;
    font-size: 11px;
    color:#71bdf0;
}

#SignOn input{
   border:1px #71bdf0 solid;
   width: 130px;
}